

h4 {
    padding-left: 20px;
	margin-bottom: 20px;
    margin-top: 10px;
	text-shadow:2px 3px 15px #ffa10a;
    border-left: 8px solid #b43e81;
    background-color:#f9f8f4;
   margin-right: 30px;
    color:#b43e81;
}

/* ===========================
   ====== Contact Form ======= 
   =========================== */

input, textarea {
	padding: 5px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #b43e81;
}

/* ===========================
   ====== Submit Button ====== 
   =========================== */

.submit input {
	font-family: monospace;
    width: 100px; 
	height: 40px;
    font-size: 18px;
    
	background-color: #b43e81; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}



.contact_add {
   height: 550px;
margin-left: 150px;    
}
